/* The Modal (background) */
.fdv-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: hidden;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.fdv-modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 6px;
    width: 780px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.fdv-modal-header {
    padding: 15px 15px 15px 40px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    color: #24292e;
    border-bottom: 2px solid #e5e5e5;
}

/* The Close Button */
.fdv-close {
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    float: right;
    font-size: 21px;
    font-weight: 700;
    margin-top: -10px;
}

.fdv-close:hover,
.fdv-close:focus {
    opacity: 0.6;
    cursor: pointer;
}

/* Table */
.fdv-modal-body {
    padding: 15px 15px 40px 15px;
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.fdv-modal-body table {
    margin: auto;
    border: 1px solid black;
}

.fdv-modal-body td {
    border: 1px solid black;
    padding: 2px 10px;
    max-width: 280px;
}

.fdv-changelog-container {
    display: flex;
}

.fdv-changelog-column {
    width: 100%;
    text-align: center;
}

.fdv-changelog-added {
    background-color: #cdffd8;
}

.fdv-changelog-added:hover,
.fdv-changelog-added:focus {
    color: #fff;
    background-color: 
    #2cbe4e;
}

.fdv-changelog-removed {
    background-color: #ffdce0;
}

.fdv-changelog-removed:hover,
.fdv-changelog-removed:focus {
    color: #fff;
    background-color: #cb2431;
}
.fdv-changelog-modified {
    background-color: #dbedff;
}

.fdv-changelog-modified:hover,
.fdv-changelog-modified:focus {
    color: #fff;
    background-color: #0366d6;
}

.fdv-display {
    display: block;
}
