.fdv-visual-diff {
    height: 500px;
    border: solid 1px black;
    background-color: white;
}

.fdv-visual-svg {
    position: absolute;
    cursor: all-scroll;
}

.fdv-visual-zoom-container {
    position: relative;
    float: right;
    z-index: 1;
    background-color: #f0f0f0;
    margin: 5px;
}

.fdv-visual-zoom-btn {
    margin: 0px 0px 0px 0px;
}

.fdv-visual-zoom-search {
    position: absolute;
    width: 24px;
    margin: -5px 0px 0px -5px;
}

.fdv-visual-zoom-out {
    margin: -5px 0px 0px 2px;
}

.fdv-visual-zoom-in {
    margin: -5px 0px 0px 0px;
}

.fdv-visual-zoom-label {
    display: inline-block;
    color: #333;
    width: 33px;
    font-size: 11px;
    text-align: center;
    padding: 0px 2px;
    cursor: default;
}

.fdv-nodes {
    cursor: pointer;
}

svg text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg .fdv-unmodified-link {
    stroke: black;
    stroke-width: 2;
    marker-end: url(#arrowhead);
}

svg .fdv-added-link {
    stroke: rgb(44, 190, 78);
    fill: rgb(44, 190, 78);
    stroke-width: 2;
    marker-end: url(#arrowheadg);
}

svg .fdv-removed-link {
    stroke: rgb(203, 36, 49);
    stroke-width: 2;
    marker-end: url(#arrowheadr);
}

svg rect {
    fill: white;
    stroke: black;
    stroke-width: 0.1rem;
}

svg .fdv-added {
    stroke: rgb(44, 190, 78);
}

svg .fdv-removed {
    stroke: rgb(203, 36, 49);
}

svg .fdv-modified {
    stroke: rgb(39, 162, 211);
}

svg .fdv-unmodified {
    stroke: rgb(0, 0, 0);
}

svg .fdv-cue-added {
    stroke: rgb(44, 190, 78);
}

svg .fdv-cue-removed {
    stroke: rgb(203, 36, 49);
}

svg .fdv-cue-modified {
    stroke: rgb(39, 162, 211);
}

svg .fdv-cue-unmodified {
    stroke: rgb(255, 255, 255);
}
