.fdv-header {
    padding: 4px 0px 4px 0px;
    color: #586069;
    background-color: #fff5b1;
    font-size: 20px;
    text-align: center;
}

.fdv-header-info {
    padding: 7px 0px 7px 20px;
    color: #28a745;
    font-size: 14px;
    font-weight: 600;
}

.fdv-view {
    padding: 20px 20px 20px 20px;
}

.fdv-hidden {
    display: none;
}
